In [9]:
import pandas as pd
import numpy as np
import os

In [10]:
df_bairros = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Separados\\facequadra.csv', sep=';')

In [11]:
df_bairros=df_bairros[['cep', 'nomebairro']]

In [12]:
df_bairros

            cep    nomebairro
0      52041080  Encruzilhada
1      52041070  Encruzilhada
2      52041017  Encruzilhada
3      52041095  Encruzilhada
4      52041017  Encruzilhada
...         ...           ...
54222  51130525    Boa Viagem
54223  50000000    Boa Viagem
54224         0    Boa Viagem
54225         0    Boa Viagem
54226  50000000    Boa Viagem

[54227 rows x 2 columns]

In [13]:
df_bairros['cep'].value_counts()

cep
0           3650
50000000    2997
51020030      80
50000999      70
51330390      63
            ...
51350020       1
50150150       1
50110800       1
50110727       1
50110743       1
Name: count, Length: 9386, dtype: int64

In [17]:
df_bairros.to_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\df_bairros.csv', sep=';',encoding='UTF-8', index=False)
print('Salvo com sucesso')

Salvo com sucesso