In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Carregando os dados do CSV
df_empresas = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\empresas.csv', sep=';', decimal=',', encoding='UTF-8')
df_estabelecimento = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\estabelecimento.csv', sep=';', decimal=',', encoding='UTF-8')
df_simples = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\simples.csv', sep=';', decimal=',', encoding='UTF-8')
df_socio = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\socios.csv', sep=';', decimal=',', encoding='UTF-8')

C:\Users\carli\AppData\Local\Temp\ipykernel_6884\1033368050.py:3: DtypeWarning: Columns (27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_estabelecimento = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\estabelecimento.csv', sep=';', decimal=',', encoding='UTF-8')

In [3]:
df_empresas = df_empresas.drop(columns=['Unnamed: 0'])
df_estabeleciemnto = df_estabelecimento.drop(columns=['Unnamed: 0'])
df_simples = df_simples.drop(columns=['Unnamed: 0'])
df_socio = df_socio.drop(columns=['Unnamed: 0'])

In [4]:
df_empresas.head(3)

,CNPJ BASICO,RAZAO SOCIAL / NOME EMPRESARIAL,NATUREZA JURIDICA,QUALIFICACAO DO SOCIO,CAPITAL SOCIAL DA EMPRESA,PORTE DA EMPRESA,ENTE FEDERATIVO RESPONSAVEL
0,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,1.200000e+11,DEMAIS,NaN
1,633,INSTITUTO QUALIDADE NO ENSINO,ASSOCIAÇÃO PRIVADA,PRESIDENTE,0.000000e+00,DEMAIS,NaN
2,802,HC PNEUS S/A,SOCIEDADE ANÔNIMA FECHADA,DIRETOR,2.044190e+08,DEMAIS,NaN

In [5]:
df_estabelecimento.head(3)

,Unnamed: 0,CNPJ BASICO,CNPJ ORDEM,CNPJ DV,MATRIZ/FILIAL,RAZAO SOCIAL / NOME EMPRESARIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA DA SITUAÇÃO CADASTRAL,MOTIVO DA SITUAÇÃO CADASTRAL,...,BAIRRO,CEP,UF,MUNICIPIO,TELEFONE 1,TELEFONE 2,FAX,CORREIO ELETRONICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL
0,246855,0,4555,12,FILIAL,BANCO DO BRASIL SA,VALORES RECIFE (PE),ATIVA,03/11/2005,SEM MOTIVO,...,RECIFE,50030310,PE,RECIFE,(81)34257111,(),(),VALORES.RECIFE@BB.COM.BR,NaN,NaN
1,28144,0,4932,87,FILIAL,BANCO DO BRASIL SA,PINA - RECIFE (PE),BAIXADA,28/09/2018,EXTINCAO POR ENCERRAMENTO LIQUIDACAO VOLUNTARIA,...,PINA,51010000,PE,RECIFE,(),(),(),NaN,NaN,NaN
2,75844,0,4834,86,FILIAL,BANCO DO BRASIL SA,AGAMENON MAGALHAES RECIFE - PE,ATIVA,03/11/2005,SEM MOTIVO,...,BOA VISTA,50070160,PE,RECIFE,(81)32161450,(),(81)32230529,AGE3243@BB.COM.BR,NaN,NaN

In [6]:
df_simples.head(3)

,CNPJ BASICO,OPTANTE PELO SIMPLES,DATA DE ADESAO AO SIMPLES,DATA DE EXCLUSAO DO SIMPLES,OPTANTE PELO MEI,DATA DE ADESAO AO MEI,DATA DE EXCLUSAO DO MEI
0,00000nan,NAO,01/07/2007,01/07/2007,NAO,01/07/2009,01/07/2009
1,019357.0,NAO,01/07/2007,31/12/2010,NAO,NaN,NaN
2,028607.0,NAO,01/07/2007,31/12/2011,NAO,NaN,NaN

In [7]:
df_socio.head(3)

,CNPJ BASICO,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,QUALIFICACAO DO SOCIO,DATA DE ENTRADA DA SOCIEDADE,PAIS,REPRESENTANTE LEGAL,NOME DO REPRESENTANTE,QUALIFICACAO DO REPRESENTANTE LEGAL,FAIXA ETARIA
0,23588623,PESSOA FISICA,HAMANDA MARIA DE SOUZA,***641544**,SÓCIO-ADMINISTRADOR,03/11/2015,NaN,***000000**,NaN,NÃO INFORMADA,41-50 anos
1,23588988,PESSOA FISICA,EMANUEL MESSIAS DE FIGUEIREDO,***037174**,SÓCIO-ADMINISTRADOR,03/11/2015,NaN,***000000**,NaN,NÃO INFORMADA,41-50 anos
2,23595463,PESSOA FISICA,CLAUDIO ROBERTO FABRICIO DA SILVA,***670204**,SÓCIO-ADMINISTRADOR,30/11/2018,NaN,***000000**,NaN,NÃO INFORMADA,51-60 anos

In [8]:
merge_df = df_empresas.merge(df_socio, on='CNPJ BASICO', how='left')  # Primeiro merge com a segunda tabela
merge_df = merge_df.merge(df_simples, on='CNPJ BASICO', how='left')  # Depois merge com a terceira tabela

# Visualizando o DataFrame final
merge_df

ValueError: You are trying to merge on int64 and object columns for key 'CNPJ BASICO'. If you wish to proceed you should use pd.concat