In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Carregando os dados do CSV
df_empresas = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\empresas.csv', sep=';', decimal=',', encoding='UTF-8')
df_estabelecimento = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\estabelecimento.csv', sep=';', decimal=',', encoding='UTF-8')
df_simples = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\simples.csv', sep=';', decimal=',', encoding='UTF-8')
df_socio = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\socios.csv', sep=';', decimal=',', encoding='UTF-8')
df_cnae = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\cnae.csv', sep=';', decimal=',', encoding='UTF-8')

C:\Users\carli\AppData\Local\Temp\ipykernel_10016\4132452508.py:3: DtypeWarning: Columns (27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df_estabelecimento = pd.read_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\estabelecimento.csv', sep=';', decimal=',', encoding='UTF-8')

In [3]:
df_empresas.head(3)

,CNPJ BASICO,RAZAO SOCIAL / NOME EMPRESARIAL,NATUREZA JURIDICA,QUALIFICACAO DO SOCIO,CAPITAL SOCIAL DA EMPRESA,PORTE DA EMPRESA,ENTE FEDERATIVO RESPONSAVEL
0,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,1.200000e+11,DEMAIS,NaN
1,633,INSTITUTO QUALIDADE NO ENSINO,ASSOCIAÇÃO PRIVADA,PRESIDENTE,0.000000e+00,DEMAIS,NaN
2,802,HC PNEUS S/A,SOCIEDADE ANÔNIMA FECHADA,DIRETOR,2.044190e+08,DEMAIS,NaN

In [4]:
df_empresas.dtypes

CNPJ BASICO                          int64
RAZAO SOCIAL / NOME EMPRESARIAL     object
NATUREZA JURIDICA                   object
QUALIFICACAO DO SOCIO               object
CAPITAL SOCIAL DA EMPRESA          float64
PORTE DA EMPRESA                    object
ENTE FEDERATIVO RESPONSAVEL         object
dtype: object

In [5]:
# Definir as colunas que precisam ser convertidas
conversao = ['CNPJ BASICO', 'CAPITAL SOCIAL DA EMPRESA']

# Converter as colunas específicas para o tipo 'object'
df_empresas[conversao] = df_empresas[conversao].astype('object')

# Verificar os tipos de dados após a conversão
print(df_empresas.dtypes)

CNPJ BASICO                        object
RAZAO SOCIAL / NOME EMPRESARIAL    object
NATUREZA JURIDICA                  object
QUALIFICACAO DO SOCIO              object
CAPITAL SOCIAL DA EMPRESA          object
PORTE DA EMPRESA                   object
ENTE FEDERATIVO RESPONSAVEL        object
dtype: object

In [6]:
df_estabelecimento.head(3)

,Unnamed: 0,CNPJ BASICO,CNPJ ORDEM,CNPJ DV,MATRIZ/FILIAL,RAZAO SOCIAL / NOME EMPRESARIAL,NOME FANTASIA,SITUAÇÃO CADASTRAL,DATA DA SITUAÇÃO CADASTRAL,MOTIVO DA SITUAÇÃO CADASTRAL,...,BAIRRO,CEP,UF,MUNICIPIO,TELEFONE 1,TELEFONE 2,FAX,CORREIO ELETRONICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL
0,246855,0,4555,12,FILIAL,BANCO DO BRASIL SA,VALORES RECIFE (PE),ATIVA,03/11/2005,SEM MOTIVO,...,RECIFE,50030310,PE,RECIFE,(81)34257111,(),(),VALORES.RECIFE@BB.COM.BR,NaN,NaN
1,28144,0,4932,87,FILIAL,BANCO DO BRASIL SA,PINA - RECIFE (PE),BAIXADA,28/09/2018,EXTINCAO POR ENCERRAMENTO LIQUIDACAO VOLUNTARIA,...,PINA,51010000,PE,RECIFE,(),(),(),NaN,NaN,NaN
2,75844,0,4834,86,FILIAL,BANCO DO BRASIL SA,AGAMENON MAGALHAES RECIFE - PE,ATIVA,03/11/2005,SEM MOTIVO,...,BOA VISTA,50070160,PE,RECIFE,(81)32161450,(),(81)32230529,AGE3243@BB.COM.BR,NaN,NaN

In [7]:
df_estabelecimento.dtypes

Unnamed: 0                          int64
CNPJ BASICO                         int64
CNPJ ORDEM                          int64
CNPJ DV                             int64
MATRIZ/FILIAL                      object
RAZAO SOCIAL / NOME EMPRESARIAL    object
NOME FANTASIA                      object
SITUAÇÃO CADASTRAL                 object
DATA DA SITUAÇÃO CADASTRAL         object
MOTIVO DA SITUAÇÃO CADASTRAL       object
PAIS                               object
DATA DE INÍCIO DE ATIVIDADE        object
ATIVIDADE PRINCIPAL                object
COD ATIVIDADE PRINCIPAL             int64
COD ATIVIDADES SECUNDARIAS         object
TIPO DO LOGRADOURO                 object
LOGRADOURO                         object
NUMERO                             object
COMPLEMENTO                        object
BAIRRO                             object
CEP                                 int64
UF                                 object
MUNICIPIO                          object
TELEFONE 1                         object
TELEFONE 2                         object
FAX                                object
CORREIO ELETRONICO                 object
SITUAÇÃO ESPECIAL                  object
DATA DA SITUAÇÃO ESPECIAL          object
dtype: object

In [8]:
# Converter todas as colunas do DataFrame para o tipo 'object'
df_estabelecimento = df_estabelecimento.astype('object')

# Verificar os tipos de dados após a conversão
df_estabelecimento.dtypes

Unnamed: 0                         object
CNPJ BASICO                        object
CNPJ ORDEM                         object
CNPJ DV                            object
MATRIZ/FILIAL                      object
RAZAO SOCIAL / NOME EMPRESARIAL    object
NOME FANTASIA                      object
SITUAÇÃO CADASTRAL                 object
DATA DA SITUAÇÃO CADASTRAL         object
MOTIVO DA SITUAÇÃO CADASTRAL       object
PAIS                               object
DATA DE INÍCIO DE ATIVIDADE        object
ATIVIDADE PRINCIPAL                object
COD ATIVIDADE PRINCIPAL            object
COD ATIVIDADES SECUNDARIAS         object
TIPO DO LOGRADOURO                 object
LOGRADOURO                         object
NUMERO                             object
COMPLEMENTO                        object
BAIRRO                             object
CEP                                object
UF                                 object
MUNICIPIO                          object
TELEFONE 1                         object
TELEFONE 2                         object
FAX                                object
CORREIO ELETRONICO                 object
SITUAÇÃO ESPECIAL                  object
DATA DA SITUAÇÃO ESPECIAL          object
dtype: object

In [9]:
df_simples.head(3)

,CNPJ BASICO,OPTANTE PELO SIMPLES,DATA DE ADESAO AO SIMPLES,DATA DE EXCLUSAO DO SIMPLES,OPTANTE PELO MEI,DATA DE ADESAO AO MEI,DATA DE EXCLUSAO DO MEI
0,00000nan,NAO,01/07/2007,01/07/2007,NAO,01/07/2009,01/07/2009
1,019357.0,NAO,01/07/2007,31/12/2010,NAO,NaN,NaN
2,028607.0,NAO,01/07/2007,31/12/2011,NAO,NaN,NaN

In [10]:
df_simples.dtypes

CNPJ BASICO                    object
OPTANTE PELO SIMPLES           object
DATA DE ADESAO AO SIMPLES      object
DATA DE EXCLUSAO DO SIMPLES    object
OPTANTE PELO MEI               object
DATA DE ADESAO AO MEI          object
DATA DE EXCLUSAO DO MEI        object
dtype: object

In [11]:
df_socio.head(3)

,CNPJ BASICO,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,QUALIFICACAO DO SOCIO,DATA DE ENTRADA DA SOCIEDADE,PAIS_SOCIO,REPRESENTANTE LEGAL,NOME DO REPRESENTANTE,QUALIFICACAO DO REPRESENTANTE LEGAL,FAIXA ETARIA
0,23588623,PESSOA FISICA,HAMANDA MARIA DE SOUZA,***641544**,SÓCIO-ADMINISTRADOR,03/11/2015,NaN,***000000**,NaN,NÃO INFORMADA,41-50 anos
1,23588988,PESSOA FISICA,EMANUEL MESSIAS DE FIGUEIREDO,***037174**,SÓCIO-ADMINISTRADOR,03/11/2015,NaN,***000000**,NaN,NÃO INFORMADA,41-50 anos
2,23595463,PESSOA FISICA,CLAUDIO ROBERTO FABRICIO DA SILVA,***670204**,SÓCIO-ADMINISTRADOR,30/11/2018,NaN,***000000**,NaN,NÃO INFORMADA,51-60 anos

In [12]:
df_socio.dtypes

CNPJ BASICO                             int64
IDENTIFICADOR DO SOCIO                 object
NOME DO SOCIO                          object
CPF DO SOCIO                           object
QUALIFICACAO DO SOCIO                  object
DATA DE ENTRADA DA SOCIEDADE           object
PAIS_SOCIO                             object
REPRESENTANTE LEGAL                    object
NOME DO REPRESENTANTE                  object
QUALIFICACAO DO REPRESENTANTE LEGAL    object
FAIXA ETARIA                           object
dtype: object

In [13]:
# Definir as colunas que precisam ser convertidas
conversao = ['CNPJ BASICO']

# Converter as colunas específicas para o tipo 'object'
df_socio[conversao] = df_socio[conversao].astype('object')

# Verificar os tipos de dados após a conversão
print(df_socio.dtypes)

CNPJ BASICO                            object
IDENTIFICADOR DO SOCIO                 object
NOME DO SOCIO                          object
CPF DO SOCIO                           object
QUALIFICACAO DO SOCIO                  object
DATA DE ENTRADA DA SOCIEDADE           object
PAIS_SOCIO                             object
REPRESENTANTE LEGAL                    object
NOME DO REPRESENTANTE                  object
QUALIFICACAO DO REPRESENTANTE LEGAL    object
FAIXA ETARIA                           object
dtype: object

In [14]:
df_cnae.head(3)

   CODIGO              CNAE
0  111301  Cultivo de arroz
1  111302  Cultivo de milho
2  111303  Cultivo de trigo

In [15]:
df_cnae.dtypes

CODIGO     int64
CNAE      object
dtype: object

In [16]:
# Definir as colunas que precisam ser convertidas
conversao = ['CODIGO']

# Converter as colunas específicas para o tipo 'object'
df_cnae[conversao] = df_cnae[conversao].astype('object')

# Verificar os tipos de dados após a conversão
print(df_cnae.dtypes)

CODIGO    object
CNAE      object
dtype: object

In [17]:
df_estabelecimento= df_estabelecimento.rename(columns={'COD ATIVIDADE PRINCIPAL': 'CODIGO CNAE'})

In [18]:
df_cnae= df_cnae.rename(columns={'CODIGO': 'CODIGO CNAE'})

In [19]:
merge_df = df_empresas.merge(df_socio, on='CNPJ BASICO', how='left')  
merge_df = merge_df.merge(df_simples, on='CNPJ BASICO', how='left')
merge_df = merge_df.merge(df_estabelecimento, on='CNPJ BASICO', how='left')
merge_df = merge_df.merge(df_cnae, on='CODIGO CNAE', how='left')


merge_df

,CNPJ BASICO,RAZAO SOCIAL / NOME EMPRESARIAL_x,NATUREZA JURIDICA,QUALIFICACAO DO SOCIO_x,CAPITAL SOCIAL DA EMPRESA,PORTE DA EMPRESA,ENTE FEDERATIVO RESPONSAVEL,IDENTIFICADOR DO SOCIO,NOME DO SOCIO,CPF DO SOCIO,...,CEP,UF,MUNICIPIO,TELEFONE 1,TELEFONE 2,FAX,CORREIO ELETRONICO,SITUAÇÃO ESPECIAL,DATA DA SITUAÇÃO ESPECIAL,CNAE
0,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,120000000000.0,DEMAIS,NaN,PESSOA FISICA,EDUARDO CESAR PASA,***035920**,...,50030310,PE,RECIFE,(81)34257111,(),(),VALORES.RECIFE@BB.COM.BR,NaN,NaN,"Bancos múltiplos, com carteira comercial"
1,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,120000000000.0,DEMAIS,NaN,PESSOA FISICA,EDUARDO CESAR PASA,***035920**,...,51010000,PE,RECIFE,(),(),(),NaN,NaN,NaN,"Bancos múltiplos, com carteira comercial"
2,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,120000000000.0,DEMAIS,NaN,PESSOA FISICA,EDUARDO CESAR PASA,***035920**,...,50070160,PE,RECIFE,(81)32161450,(),(81)32230529,AGE3243@BB.COM.BR,NaN,NaN,"Bancos múltiplos, com carteira comercial"
3,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,120000000000.0,DEMAIS,NaN,PESSOA FISICA,EDUARDO CESAR PASA,***035920**,...,50731000,PE,RECIFE,(81)32258253,(41)40033001,(81)40034001,AGE1835@BB.COM.BR,NaN,NaN,"Bancos múltiplos, com carteira comercial"
4,0,BANCO DO BRASIL SA,SOCIEDADE DE ECONOMIA MISTA,DIRETOR,120000000000.0,DEMAIS,NaN,PESSOA FISICA,EDUARDO CESAR PASA,***035920**,...,50070200,PE,RECIFE,(),(),(),NaN,NaN,NaN,"Bancos múltiplos, com carteira comercial"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748305,13845315,MAX LIMP DISTRIBUIDORA LTDA,SOCIEDADE EMPRESÁRIA LIMITADA,SÓCIO-ADMINISTRADOR,100000.0,EMPRESA DE PEQUENO PORTE,NaN,PESSOA FISICA,MARCOS VENICIO DA SILVA,***230524**,...,51170530,PE,RECIFE,(81)36281296,(),(),ALAICE@JCFONSECA.COM,NaN,NaN,Comércio atacadista de artigos de escritório e...
748306,13845552,RACE CAR LTDA,SOCIEDADE EMPRESÁRIA LIMITADA,SÓCIO-ADMINISTRADOR,330000.0,DEMAIS,NaN,PESSOA FISICA,ANDRE DE AMORIM PEIXOTO,***215622**,...,51021410,PE,RECIFE,(81)30941806,(),(81)34621552,LEGALIZACO@RGASSESSORIACONTABIL.COM.BR,NaN,NaN,Locação de automóveis sem condutor
748307,13845552,RACE CAR LTDA,SOCIEDADE EMPRESÁRIA LIMITADA,SÓCIO-ADMINISTRADOR,330000.0,DEMAIS,NaN,PESSOA FISICA,ANDRE DE AMORIM PEIXOTO,***215622**,...,51021310,PE,RECIFE,(81)33129350,(),(81)34621552,mc@mcamaauditoria.com.br,NaN,NaN,"Comércio a varejo de automóveis, camionetas e ..."
748308,13845851,JOSIMAR TENORIO DA SILVA 08002641426,EMPRESÁRIO (INDIVIDUAL),EMPRESÁRIO,1.0,MICRO EMPRESA,NaN,NaN,NaN,NaN,...,51270701,PE,RECIFE,(81)34770326,(),(),NaN,NaN,NaN,"Transporte rodoviário de carga, exceto produto..."
748309,13845923,FABIO DOS SANTOS VILELA 05250942458,EMPRESÁRIO (INDIVIDUAL),EMPRESÁRIO,1.0,MICRO EMPRESA,NaN,NaN,NaN,NaN,...,51190010,PE,RECIFE,(81)99597345,(),(),NaN,NaN,NaN,"Confecção, sob medida, de peças do vestuário, ..."

In [20]:
# Selecionar apenas as colunas D1, D2 e D3
df_empresasAtivas = merge_df[['CNPJ BASICO', 'CNPJ ORDEM', 'CNPJ DV', 'MATRIZ/FILIAL','PAIS','SITUAÇÃO CADASTRAL', 'DATA DA SITUAÇÃO CADASTRAL','DATA DE INÍCIO DE ATIVIDADE','ATIVIDADE PRINCIPAL','CODIGO CNAE','CEP']]

df_empresasAtivas

,CNPJ BASICO,CNPJ ORDEM,CNPJ DV,MATRIZ/FILIAL,PAIS,SITUAÇÃO CADASTRAL,DATA DA SITUAÇÃO CADASTRAL,DATA DE INÍCIO DE ATIVIDADE,ATIVIDADE PRINCIPAL,CODIGO CNAE,CEP
0,0,4555,12,FILIAL,BRASIL,ATIVA,03/11/2005,17/12/1998,"Bancos múltiplos, com carteira comercial",6422100,50030310
1,0,4932,87,FILIAL,BRASIL,BAIXADA,28/09/2018,26/01/2001,"Bancos múltiplos, com carteira comercial",6422100,51010000
2,0,4834,86,FILIAL,BRASIL,ATIVA,03/11/2005,29/12/2000,"Bancos múltiplos, com carteira comercial",6422100,50070160
3,0,3767,28,FILIAL,BRASIL,ATIVA,03/11/2005,09/11/1989,"Bancos múltiplos, com carteira comercial",6422100,50731000
4,0,3984,54,FILIAL,BRASIL,BAIXADA,25/09/2018,16/05/1991,"Bancos múltiplos, com carteira comercial",6422100,50070200
...,...,...,...,...,...,...,...,...,...,...,...
748305,13845315,1,81,MATRIZ,BRASIL,INAPTA,20/08/2024,22/06/2011,Comércio atacadista de artigos de escritório e...,4647801,51170530
748306,13845552,1,42,MATRIZ,BRASIL,ATIVA,17/06/2011,17/06/2011,Locação de automóveis sem condutor,7711000,51021410
748307,13845552,2,23,FILIAL,BRASIL,BAIXADA,01/12/2014,12/09/2011,"Comércio a varejo de automóveis, camionetas e ...",4511102,51021310
748308,13845851,1,87,MATRIZ,BRASIL,BAIXADA,05/02/2013,22/06/2011,"Transporte rodoviário de carga, exceto produto...",4930201,51270701
748309,13845923,1,96,MATRIZ,BRASIL,BAIXADA,24/07/2013,22/06/2011,"Confecção, sob medida, de peças do vestuário, ...",1412602,51190010

In [21]:
df_empresasAtivas['CNPJ BASICO'] = df_empresasAtivas['CNPJ BASICO'].astype(str)

# Adicionar zeros à esquerda para garantir 8 caracteres
df_empresasAtivas['CNPJ BASICO'] = df_empresasAtivas['CNPJ BASICO'].str.zfill(8)

C:\Users\carli\AppData\Local\Temp\ipykernel_10016\4207616063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_empresasAtivas['CNPJ BASICO'] = df_empresasAtivas['CNPJ BASICO'].astype(str)
C:\Users\carli\AppData\Local\Temp\ipykernel_10016\4207616063.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_empresasAtivas['CNPJ BASICO'] = df_empresasAtivas['CNPJ BASICO'].str.zfill(8)

In [22]:
df_empresasAtivas

,CNPJ BASICO,CNPJ ORDEM,CNPJ DV,MATRIZ/FILIAL,PAIS,SITUAÇÃO CADASTRAL,DATA DA SITUAÇÃO CADASTRAL,DATA DE INÍCIO DE ATIVIDADE,ATIVIDADE PRINCIPAL,CODIGO CNAE,CEP
0,00000000,4555,12,FILIAL,BRASIL,ATIVA,03/11/2005,17/12/1998,"Bancos múltiplos, com carteira comercial",6422100,50030310
1,00000000,4932,87,FILIAL,BRASIL,BAIXADA,28/09/2018,26/01/2001,"Bancos múltiplos, com carteira comercial",6422100,51010000
2,00000000,4834,86,FILIAL,BRASIL,ATIVA,03/11/2005,29/12/2000,"Bancos múltiplos, com carteira comercial",6422100,50070160
3,00000000,3767,28,FILIAL,BRASIL,ATIVA,03/11/2005,09/11/1989,"Bancos múltiplos, com carteira comercial",6422100,50731000
4,00000000,3984,54,FILIAL,BRASIL,BAIXADA,25/09/2018,16/05/1991,"Bancos múltiplos, com carteira comercial",6422100,50070200
...,...,...,...,...,...,...,...,...,...,...,...
748305,13845315,1,81,MATRIZ,BRASIL,INAPTA,20/08/2024,22/06/2011,Comércio atacadista de artigos de escritório e...,4647801,51170530
748306,13845552,1,42,MATRIZ,BRASIL,ATIVA,17/06/2011,17/06/2011,Locação de automóveis sem condutor,7711000,51021410
748307,13845552,2,23,FILIAL,BRASIL,BAIXADA,01/12/2014,12/09/2011,"Comércio a varejo de automóveis, camionetas e ...",4511102,51021310
748308,13845851,1,87,MATRIZ,BRASIL,BAIXADA,05/02/2013,22/06/2011,"Transporte rodoviário de carga, exceto produto...",4930201,51270701
748309,13845923,1,96,MATRIZ,BRASIL,BAIXADA,24/07/2013,22/06/2011,"Confecção, sob medida, de peças do vestuário, ...",1412602,51190010

In [23]:
# Salva o DataFrame em formato CSV com separador e controle de casas decimais
df_empresasAtivas.to_csv('C:\\Users\\carli\\Desktop\\EmpresasAtivas\\datasets\\CSV_Tratados\\df_empresasAtivas.csv', sep=';', decimal=',', encoding='UTF-8')
print('Salvo com sucesso')

Salvo com sucesso